spring:
  profiles:
    active: jdbc   # ← поменяй на jdbctemplate

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      pool-name: StudentHikariPool

  h2:
    console:
      enabled: true

  sql:
    init:
      mode: always
